
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
.btn{
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: skyblue;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}
.container1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.button{
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: skyblue;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}